body {
  background: #3d3d3f;
}

.calculator {
  color: #f5e6c5;
  text-align: center;
  width: 800px;
  margin: 100px auto;
  border: 5px solid #fe6e1f;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
  color: #fe6e1f;
  height: 50px;
  background: #f5e6c5;
  font-size: 30px;
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.button {
  height: 50px;
  font-size: 1.5em;
}
